<ion-view title="Login" hide-nav-bar="true" id="page2">
  <ion-content padding="true" style="background: url(img/wGsFzQfURfeOQmISGSLm_Capture.JPG) no-repeat center;background-size:cover;" class="manual-ios-statusbar-padding" scroll="false">
    <div>
      <img src="img/WpNESKtQRFf7Fr5bVaZg_against_modern_football_logo_by_indehekken-d37rq4j.png" style="display: block; width: 50%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <form id="login-form6" class="list">
      <div class="spacer" style="height: 40px;"></div>
      <ion-list id="login-list2">
        <label class="item item-input" id="login-input4">
          <span class="input-label">Username</span>
          <input type="text" placeholder="">
        </label>
        <label class="item item-input" id="login-input5">
          <span class="input-label">Password</span>
          <input type="password" placeholder="">
        </label>
      </ion-list>
      <a href-inappbrowser="page6" id="login-button9" class="button button-stable  button-block">Log in</a>
      <a ui-sref="signup" id="login-button10" class="button button-positive  button-block button-clear">Or create an account</a>
    </form>
  </ion-content>
</ion-view>