<ion-view title="Menu" id="page7">
  <ion-content padding="true" style="background: url(img/akQ9w7leTHKoDGoSlFEI_wGsFzQfURfeOQmISGSLm_Capture.JPG) no-repeat center;background-size:cover;" class="has-header">
    <div class="spacer" style="width: 299.531px; height: 74.9844px;"></div>
    <button id="menu-button17" class="button button-stable  button-block">Competitions</button>
    <a ui-sref="standings" id="menu-button13" class="button button-stable  button-block">Standings</a>
    <a ui-sref="liveScore" id="menu-button14" class="button button-stable  button-block">Live Score</a>
    <a ui-sref="fixtures" id="menu-button15" class="button button-stable  button-block">Fixtures</a>
    <a ui-sref="commentaries" id="menu-button16" class="button button-stable  button-block">Commentaries</a>
  </ion-content>
</ion-view>