<ion-view title="Signup" hide-nav-bar="true" id="page5">
  <ion-content padding="true" style="background: url(img/fFO7pVmDT76r243dQAMW_Capture.JPG) no-repeat center;background-size:cover;" class="manual-ios-statusbar-padding">
    <div>
      <img src="img/uVNALlDJTXOImE4NsNnt_against_modern_football_logo_by_indehekken-d37rq4j.png" style="display: block; width: 50%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <form id="signup-form8" class="list">
      <div class="spacer" style="height: 50px;"></div>
      <ion-list id="signup-list4">
        <label class="item item-input" id="signup-input9">
          <span class="input-label">Name</span>
          <input type="text" placeholder="">
        </label>
        <label class="item item-input" id="signup-input10">
          <span class="input-label">Username</span>
          <input type="text" placeholder="">
        </label>
        <label class="item item-input" id="signup-input11">
          <span class="input-label">Password</span>
          <input type="password" placeholder="">
        </label>
      </ion-list>
    </form>
    <button id="signup-button12" class="button button-balanced  button-block">Sign up</button>
  </ion-content>
</ion-view>