<ion-view title="Welcome!" id="page1">
  <ion-nav-buttons side="left" class="has-header">
    <button class="button button-icon icon No Icon"></button>
  </ion-nav-buttons>
  <ion-content padding="true" style="background: url(img/r8K46TleRk6SHiVRht1c_Capture.JPG) no-repeat center;background-size:cover;" class="has-header">
    <div class="spacer" style="height: 30px;"></div>
    <h1 id="welcome-heading2" style="color:#6CFF7E;font-weight:600;font-style:italic;text-align:center;">iFootball Manager</h1>
    <div id="welcome-markdown6" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:12px;">PROPER MANAGEMENT OF THE TEAM IS THE KEY TO VICTORY</p>
    </div>
    <div class="spacer" style="height: 110px;"></div>
    <a ui-sref="login" id="welcome-button7" style="font-style:italic;font-size:25px;" class="button button-positive  button-block">Sign In</a>
    <div class="spacer" style="height: 30px;"></div>
    <div class="spacer" style="height: 5px;"></div>
    <div id="welcome-markdown5" style="text-align:center;" class="show-list-numbers-and-dots">
      <pre>
        <code> Doesn't have an account yet?</code>
      </pre>
    </div>
    <a ui-sref="signup" id="welcome-button8" style="font-weight:600;font-style:italic;font-size:25px;border-radius:100px 100px 100px 100px;" class="button button-stable  button-block">Sign Up</a>
  </ion-content>
</ion-view>